<header>
    <div class="nav text-allign-center">
        <img src="assets/images/appLogo.jpg" alt="LOGO" height="90%">
        <h3 class="headerTitle">Audit Management App</h3>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card rounded">
                <form class="box" autocomplete="off" (ngSubmit)="onCredSubmit()" >
                    <h1>Welcome</h1>
                    <p class="text-muted"> Please Enter Your Username and Password!</p> 
                    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required> 
                    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>  
                    <input type="submit" name="" value="Login">
                </form>
            </div>
            <div class="alert alert-danger error-message" role="alert" *ngIf="message.length>0">
                {{ message }}
            </div>
        </div>
    </div>
</div>  